<div class="result">
    <div>
        <h2>Результат теста</h2>
        <div class="test-score">Ваш IQ: {{IQscore}} ({{IQresultWords}})</div>
    </div>
    <div>
        <div>Статистика</div>
        <div>Правильные ответы: {{correctAnswers.length}}</div>
        <div>Неправильные ответы: {{wrongAnswers.length}}</div>
        <div>Пропущено заданий: {{tasksSkipped}}</div>
        <div>Затрачено времени:  {{#each hours}} {{.}} ч. {{/each}} {{#each minutes}} {{.}} мин. {{/each}} {{seconds}} ceк.</div>
    </div>
    <div class="show-wrongs-btn"><div>Неправильные ответы</div></div>
</div>