<div class="test-number-div">
    Тест №<span></span>
</div>

<div class="in-task-description">
    {{{in_task_description}}}
</div>

<div class="task-top-panel">
    <!--<div id="time-left">Осталось &nbsp;<span></span></div>-->

    <div id="time-left">
        <div>Осталось:</div>
        <div>
            <span></span>
        </div>
    </div>

    <div id="time-spent">
        <div>Прошло:</div>
        <div>
            <span></span>
        </div>
    </div>


    <!--<div id="time-spent">Прошло &nbsp;<span>0 сек</span></div>-->
    <div>&nbsp;</div>
</div>
<div id="close-result-task"><img src="images/icon_close.png"></div>

<div class="start-message">
    {{{start_message}}}
</div>

<div class="test-tasks">
    {{#each tasks}}
    <div class="single-test-data" id="vn{{#plus1}}{{@index}}{{/plus1}}">
        <div class="task-timer"></div>
        <div class="task-number"><b>{{#upperFirst}}{{type}}{{/upperFirst}} №{{#plus1}}{{@index}}{{/plus1}}</b></div>
        <div class="task-content">{{{task_content}}}</div>
        <div class="clear">&nbsp;</div>
        <div class="answers">
            <div class="tb-prev-task test-button disabled"><div></div><div>Предыдущий<br>вопрос</div></div>
            <div class="tb-next-task test-button disabled"><div></div><div>Следующий<br>вопрос</div></div>
            <div>
                {{#each answers}}
                <div answer="{{@key}}" class="answer hoverable">{{{this}}}</div>
                {{/each}}
            </div>
        </div>
        <div class="clear">&nbsp;</div>
    </div>
    {{/each}}
</div>

<div id="nothing-answered">
    Вы не решили ни одного задания.
</div>

<div id="test-result"></div>
<div class="response"></div>



<div id="options-window">
    <form>
        <div class="close-options-window"><img src="images/icon_close.png"></div>
        <h1>Параметры</h1>
        <div>
            <label><input type="radio" name="tests-sequence" value="random">Тесты в случайном порядке</label>
            <label><input type="radio" name="tests-sequence" value="linear">Тесты подряд</label>
        </div>
        <div>
            <label>Ввести номер теста (1 - 5)<input class="test-number" type="text" name="test-number" maxlength="2" size="1"></label>
        </div>
        <div class="control-buttons">
            <div class="accept option_button">
                <div class="t_co_nav">
                    <div class="co_nav">ОК</div>
                </div>
            </div>
            <div class="cancel option_button">
                <div class="t_co_nav">
                    <div class="co_nav">Отмена</div>
                </div>
            </div>
        </div>
        <div class="options-response">
            <div></div>
        </div>
    </form>
</div>


